.sider {
  padding: 10px;
  background-color: #28292c;
  max-height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  :global {
    .ant-layout-sider-zero-width-trigger {
      display: none;
    }

    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }
  }
}
